body, html {
    width: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
}
  
#container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#duckImage {
    max-width: 100%;
    max-height: 420px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 0; /* Padding inside the button container */
}
  
#newDuck {
    padding: 10px 20px;
}